body {
    /* background: linear-gradient(217deg, rgba(255, 0, 0, 0.753), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgb(225, 0, 255), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgb(132, 0, 255), rgba(0,0,255,0) 70.71%); */
    background: linear-gradient(to bottom, rgba(3,75, 82, 1) 0%, rgba(3,75, 82, 0) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

/* creating header, content and footer */
.main-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-wrapper__header{

}

.main-wrapper__content{
    flex: 1 1 auto;
}

.main-wrapper__footer{
    padding-top: 50px;
    flex-shrink: 0;
}
/* creating header and footer */

/* canvas */
.canva1{
    position: fixed;
    z-index: 2;
    top: 10%;
    right: 5%;
    width: 22%;
    opacity: .45;
}

.canva2{
    position: fixed;
    z-index: 2;
    bottom: 5%;
    right: 0%;
    width: 14%;
    opacity: .45;
}

.canva3{
    position: fixed;
    z-index: 1;
    bottom: 11%;
    left: 28%;
    width: 7%;
    opacity: .45;
}
/* canvas */

/* content */
.content{

}

/* table */
.main-line{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    line-height: 2.2;
}
  /* Zebra striping */
tr:nth-of-type(odd) { 
    background: rgba(4, 128, 0, 0); 
}
th { 
    background: rgba(51, 51, 51, 0); 
    /* color: #dc3545;  */
    color: #153283;
    font-weight: bold; 
}

td{
    color: #000000;
}

td, th { 
    padding: 6px; 
    /* border: 3px solid rgb(204, 204, 204);  */
    text-align: left; 
    font-size: 20px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 2px solid rgba(0, 0, 0, 0.541); 
        border-radius: 15px;
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/* border-bottom: 1px solid rgba(0, 0, 0, 0.616);  */
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
    td:nth-of-type(1):before { content: "10$ in hour"; }
    td:nth-of-type(2):before { content: "18-27$ in hour"; }
    td:nth-of-type(3):before { content: "35-45$ in hour"; }
}

@media (max-width: 1200px) {
    .main-line{
        font-size: 70px;
    }
}

@media (max-width: 1000px) {
    .main-line{
        text-align: center;
    }
}

@media (max-width: 780px) {
    .main-line{
        font-size: 65px;
    }
}

@media (max-width: 578px) {
    .main-line{
        font-size: 45px;
    }
}

@media (max-width: 378px) {
    td, th { 
        font-size: 17px;
    }
}
/* table */

/*offers */
.offers{
    background-color: rgba(0, 0, 255, 0.274);
    margin: 40px 0px;
    padding: 6px;
    border-radius: 15px;
}

.makeup{
}

.caption{
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 6px;
}

.mini-description{
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 6px 0;
    margin-bottom: 2px;
}

.price{
    color: black;
    font-size: 30px;
    font-weight: 400;
    padding: 6px;
    text-align: center;
}

.line{
    border: none; /* Убираем границу */
    background-color: rgb(10, 10, 10); /* Цвет линии */
    color: rgb(0, 0, 0); /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    margin: 0;
}

@media (max-width: 575px) {
    .caption{
        font-size: 25px;
    }
    .price{
        font-size: 25px;
        text-align: left;
    }
}

@media (max-width: 455px) {
    .caption{
        font-size: 20px;
    }
    .price{
        font-size: 20px;
    }
}
/*offers */

/* The cost of creating sites based on turnkey solutions */
.turnkey-solutions{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    color: black;
    font-weight: 700;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:rgba(0, 0, 255, 0.274);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.7s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(204, 204, 204, 0.678);
}

 /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.404);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.opened-cost-of-creating-sites{
    padding-top: 18px;
    font-size: 17px;
    font-weight: 600;
}

.opened-cost-of-creating-sites__caption{

}

.opened-cost-of-creating-sites__time{

}

.opened-cost-of-creating-sites__price{

}

.cost-of-creating-sites-description{
    padding-top: 10px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.types-of-work-text{
    font-size: 12px;
    font-weight: 600;
    padding-top: 12px;
}

@media (max-width: 520px) {
    .turnkey-solutions{
        font-size: 22px;
    }

    .opened-cost-of-creating-sites{
        font-size: 14px;
    }
}

@media (max-width: 290px) {
    .accordion {
        font-size: 14px;
    }
}
/* The cost of creating sites based on turnkey solutions */
/* content */